<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PiConnect | {{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css')}}" />
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
    {% endblock head %}
    <script src="{{ url_for('static', filename='script.js')}}"></script>
</head>

<body>

    <nav class="navbar is-transparent">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{url_for('home')}}">
                <p class="title">PiConnect</p>
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            {% if current_user.is_authenticated %}
            <div class="navbar-start">
                <a class="navbar-item" href="{{ url_for('my_teams') }}">Teams</a>
                <a class="navbar-item" href="{{ url_for('create_team') }}">Create Team</a>
                <a class="navbar-item" href="{{ url_for('account') }}">Account</a>

            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">

                        <a class="button is-light" href="{{ url_for('logout') }}">Logout</a>

                    </div>
                </div>
            </div>
            {% else %}
            <div class="navbar-start">
            </div>
            <div class="navbar-end">
                <a class="navbar-item" href="/#about">About</a>
                <a class="navbar-item" href="/#why">Why</a>
                <div class="navbar-item">
                    <div class="buttons">

                        <a class="button is-primary" href="{{ url_for('register') }}">
                            Signup
                        </a>
                        <a class="button is-light" href="{{ url_for('login') }}">Login</a>

                    </div>
                </div>

            </div>
            {% endif %}
        </div>
    </nav>



    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>

</html>